.doQuestionPage {

  .title {
    margin-bottom: 48px;
  }

  .options-wrapper{
    margin-bottom: 48px;

  }


  .controlBtn {
   margin: 24px 48px;

  }
  .headerBg{
    width: 100vw;
    height: 100vw;
  }
}
